/BOARD_XPLORER_LPC4330/
/BOARD_NUCLEO_F746/
/BOARD_MIBO100_ATSAME70/
/BOARD_MIN_F103/
/BOARD_NONE_MKV30F/
/BOARD_XPRESSO_LPC54608/
/BOARD_MIBO64_ATSAM4S/
/BOARD_DISCOVERY_F746/
/BOARD_MIBO48_STM32F303/
/BOARD_MIBO20_STM32F030/
/BOARD_MIBO20_STM32F070/
/BOARD_MIBO64_STM32F405/
/BOARD_MIBO64_STM32F070/
/BOARD_EVK_IMXRT1020/
/BOARD_MIBO100_IMXRT1021/
/BOARD_ENEBO_A/
/BOARD_MIBO64_ATSAME5X/
/BOARD_MIBO48_XMC4100/
/BOARD_NUCLEO_G474RE/
/BOARD_MIBO48_STM32G473/
